@use "../../assets/sass/_variables.scss" as *;

.button {
  &:hover {
    cursor: pointer;
  }
  color: $color-primary;
  background-color: $color-secondary;
  border: none;
  border-radius: 1.5rem;
  margin: 1.25rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  box-shadow: 2px 2px 5px 1px gray;
}
