@use "../../assets/sass/_variables.scss" as *;

.about {
  height: 50rem;
  text-align: center;
  padding-top: 5rem;

  &__para {
    width: 25rem;
    margin: 2rem auto;
  }

  &__buttons{
    width: 30rem;
    margin: auto;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content:space-around;

    img {
      width: 5rem;
      height: 5rem;
    }

    .about__cv {
      height: 5rem;
      width: 4.5rem;
    }

    .about__email {
      width: 5rem;
      height: 5rem;
    }

  }
}