@use "../../assets/sass/_variables.scss" as *;

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  background-image: linear-gradient(to right, $gradient1 , $gradient2, $gradient3, $gradient4);
  padding: 0rem 1.25rem;
  align-items: center;
  &__links {
    display: none;
  }
  &__hamburger {
    width: 6rem;
  }
}


@media screen and (min-width: 768px) {
  .nav {
    &__links {
      display: flex;
      color: $color-secondary;
      list-style: none;
    }
    &__hamburger {
      display: none;
    }
    &__link {
      margin: 0rem 1rem;
      font-size: 1.2rem;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .nav {
    &__link {
      margin: 0rem 1.9rem;
      font-size: 1.25rem;
    }
  }
}