@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");

// font colours and background colours
$color-primary: #8F3AA9;
$color-secondary: #66FEF7;
$background-colour: #FFEEF6;

// font
$font-primary: "Barlow", sans-serif;

// nav gradients
$gradient1: #66FEF7;
$gradient2: #3eece4be;
$gradient3: #c777df;
$gradient4: #b136d6b2;

